

<div class="container">
        <div class="view bg">
        </div>  
    <div class="row">
        <mdb-image-modal [modalImages]="images" type="margin"></mdb-image-modal>
    </div>
  
</div>
<div class="container">
    <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2233.8761038443836!2d-3.1827863490255015!3d55.95151928402105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c78864708b7b%3A0x4096b79790456d1c!2s179a+Canongate%2C+Edinburgh+EH8+8BN!5e0!3m2!1sen!2suk!4v1542310532844" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

