.intro-header {
    height: unset !important;
}
.top-nav-collapse {
    background-color: #78909c !important;
}
.view {
    height: 100vh !important;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    }
}
h1 {
    letter-spacing: 8px;
}
h5 {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}


.carousel .carousel-control-prev-icon{
    // display:none;
    color: green;
} 


body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../../../../assets/intro-1.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}