
  <!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark deep-orange darken-2" [containerInside]="true">
    <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="/">
        <img src="../../../../assets/bits-logo-white-sm.png" height="40" class="" alt="">
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav ml-auto">
            <li class="nav-item waves-light white-text d-flex flex-column justify-content-center" mdbWavesEffect>
              <a (click)="back()">
                <mdb-icon icon="chevron-circle-left" size="lg" class="mr-2"></mdb-icon>Go Back
              </a>
      
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="home">
                  Home
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="vouchers">
                Members
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="products">
                Products
              </a>
            </li>
            
      </ul>
    </links>
  </mdb-navbar> -->


<header class="intro-header">

    
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white darken-3 fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" mdbWavesEffect href="#">
              <img src="../../../../assets/bits-logo-white-sm.png" height="40" class="" alt="">
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="#" routerLink="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" href="#" routerLink="about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="#" routerLink="products">Products</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>

   
</header>
