<!-- <footer class="footer-copyright deep-orange darken-1 py-3 text-center text-white">
  © 2018 Copyright:
  <a class="text-white" href="#"> bitsbites.uk </a>
</footer> -->


<!-- Footer -->
<footer class="page-footer font-small deep-orange darken-3">

  
  <div class="container">

    <div class="row">


      <div class="col py-2">
        <div class="mb-2 flex-center">
          <a  target=”_blank”  class="fb-ic" href="https://www.facebook.com/bitsandbitesbrazil/">
            <mdb-icon icon="facebook" size="5x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
      <div class="col py-2">
        <div class="mb-2 flex-center ">
            <a target=”_blank”  class="gplus-ic" href="tel:+7510963961">
                <mdb-icon icon="phone" size="5x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
        </div>
      </div>
    
    </div>
    
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="mailto:roicoroy@yahoo.com.br"> roicoroy@yahoo.com.br</a>
  </div>

</footer>
